<!DOCTYPE html>
{% autoescape false %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h2>Dashboard</h2>
    <p> You are logged in {{ session['username'] }}! </p>
    <p> You can search for your notes:</p>
    <form method="post" action="{{ url_for('dashboard') }}">
    <input type="search" name="search_query" placeholder="Search">
    <input type="submit" value="Search">
</form>

{% if results %}
    <h2>Search Results for "{{ search_query }}"</h2>
    <ul>
        {% for result in results %}
            <li>{{ result }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No results found for "{{ search_query|safe }}"</p>
{% endif %}
</body>
</html>
{% endautoescape %}